<div class="card-columns mt-5">

    <div  class="card mb-3" style="max-width: 540px;" >
      <div class="row no-gutters">
        <div class="col-md-4">
        
          <img src="assets/company.png" class="card-img" alt="..." width="150px" height="150px">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Company</h5>
            <div routerLink="/addCompany">
            <p class="card-text"><small class="text-muted">New Company</small></p>
            <router-outlet></router-outlet>
            </div>
            <div routerLink="/editCompany">
                <p class="card-text"><small class="text-muted">Edit Company Details</small></p>
                <router-outlet></router-outlet>
                </div>
          </div>
        </div>
      </div>
      
    </div>
  
  
  
    <div  class="card mb-3" style="max-width: 540px;" >
      <div class="row no-gutters">
        <div class="col-md-4">
        
          <img src="assets/search.png" class="card-img" alt="..." width="150px" height="150px" >
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">Search Properties</h5>
            <p class="card-text"><small class="text-muted">stock is available</small></p>
          </div>
        </div>
      </div>
    </div>
  
  
 
  
  
    


    
    <div   class="card mb-3" style="max-width: 540px;" >
        <div class="row no-gutters">
          <div class="col-md-4">
          
            <img src="assets/product.png" class="card-img" alt="..."  width="150px" height="150px">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text"><small class="text-muted">stock is available</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
